body { background: #4390b0; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 13px; display: flex; }
.block-uploader-0 { color: #50c302; font-size: 16px; margin-bottom: 5px; }
.block-email-1 { color: #87751b; font-size: 19px; margin-bottom: 5px; }
.block-shipping-2 { color: #67de3; font-size: 20px; margin-bottom: 5px; }
.block-router-3 { color: #f249e6; font-size: 18px; margin-bottom: 5px; }
.block-cluster-4 { color: #42bb00; font-size: 21px; margin-bottom: 5px; }